.relatorioContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  gap: 2.5rem;
  padding: 3rem 3rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  border: 3px solid #1b231a;
}

.relatorioContainer > fieldset > p {
  text-align: center;
  gap: 1rem;
}

.relatorioContainer > fieldset > p > strong {
  font: 600 1.6rem 'Poppins', sans-serif;
}

.relatorioContainer > fieldset > p > span {
  font: 500 1.6rem 'Roboto', sans-serif;
}

.servicos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 34rem;
  flex-wrap: wrap;
}

.valorFinal {
  font: 600 1.8rem 'Roboto', sans-serif;
}

.valorFinal > p > span {
  text-decoration: underline;
  color: #79c44e;
}

.principal {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.principal > form {
  display: flex;
  flex-direction: column;

  align-items: center;

  font: 600 1.5rem 'Roboto', sans-serif;

  gap: 2rem;
}

.principal > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 4.5rem;
  width: 20rem;

  border: 1px solid #79c44e;
  border-radius: 3rem;
  background: none;

  color: #fff;
  font: 600 1.6rem 'Roboto', sans-serif;

  margin-top: 5rem;
}

.icone {
  max-width: 2.2rem;
  filter: invert(100%);
}

.principal > form > button:hover {
  background: #79c44e;
}

@media (max-width: 400px) {
  .principal > form {
    font: 500 1.4rem 'Roboto', sans-serif;
    text-align: center;
  }
}
