header {
  padding: 1rem;
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 5rem 0 3rem;

  gap: 2rem;
}

.header-logo {
  max-width: 10rem;
}

.header-logo > img {
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content > h2 {
  font: 700 2.5rem 'Poppins', sans-serif;
  text-align: center;
}

@media (max-width: 400px) {
  .header-container {
    flex-direction: column;
  }

  .header-content > h2 {
    font: 600 1.8rem 'Poppins', sans-serif;
    padding: 0 !important;
    text-align: center;
  }
}
