.secao {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100% !important;
  max-width: 50rem !important;
  border: 2px solid #ffa400;

  border-radius: 1.3rem;
  padding: 2rem 3.5rem;
}
