.principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 10rem;
}

.principal > form {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 2rem;

  font: 600 1.5rem 'Roboto', sans-serif;
}

.principal > form > .horarios {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 43.2rem;

  gap: 3rem;
}

.horarios > .horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 7rem;
  height: 3rem;

  border-radius: 2rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);

  color: #fff;

  gap: 1.5rem;
}

.selecionado {
  color: #ffa400 !important;
  border: 2px solid #ffa400 !important;
  background: rgba(255, 164, 0, 0.2) !important;
}

.disponivel {
  color: #78ec35 !important;
  border: 2px solid #78ec35 !important;
  background: rgba(120, 236, 53, 0.2) !important;
}

.horario:hover {
  filter: brightness(0.75);
}

.principal > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 4.5rem;
  width: 20rem;

  border: 1px solid #ea4335;
  border-radius: 3rem;
  background: none;

  color: #fff;
  font: 600 1.6rem 'Roboto', sans-serif;

  margin-top: 5rem;
}

.icone {
  max-width: 2.2rem;
  filter: invert(100%);
}

.principal > form > button:hover {
  background: #ea4335;
}

@media (max-width: 400px) {
  .principal > form {
    font: 500 1.4rem 'Roboto', sans-serif;
    text-align: center;
  }
}
