.principal {
  display: flex;
  justify-content: center;
  padding: 5rem 0rem;
}

.principal > form {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;

  gap: 2rem;

  font: 600 1.5rem 'Roboto', sans-serif;
}

.formNome,
.formTel {
  height: 4rem;
  text-align: center;
  border: 2px solid #ffa400;
  border-radius: 4rem;

  width: 100%;

  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font: 700 2rem 'Roboto', sans-serif;
}

.formNome {
  max-width: 35rem;
}

.formTel {
  max-width: 30rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.principal > form > input::placeholder {
  color: #d3d3d3;
  font: 500 1.8rem 'Roboto', sans-serif;
}

.principal > form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 4.5rem;
  width: 20rem;

  border: 1px solid #ea4335;
  border-radius: 3rem;
  background: none;

  color: #fff;
  font: 600 1.6rem 'Roboto', sans-serif;

  margin-top: 5rem;
}

.principal > form > button > img {
  max-width: 2.2rem;
  filter: invert(100%);
}

.principal > form > button:hover {
  background: #ea4335;
}

@media (max-width: 400px) {
  .principal > form {
    font: 500 1.4rem 'Roboto', sans-serif;
    text-align: center;
  }
}
